<section>
    <div class="container-fluid">
        <ul class="nav-film">
            <li class="text-film">PHIM</li>
            <li class="active-film">Đang chiếu</li>
            <li class="inactive-film">Sắp chiếu</li>
        </ul>
        <div class="row gx-3 gx-sm-4 gy-3 gy-sm-4">
            {{#each movies}}
                <div class="col-6 col-sm-6 col-xl-3" id="mv-img">
                    <div class="brief-des">
                        <a href="/movies/movie-details/{{this.id}}">
                            <img src="{{this.image_url}}" alt="{{this.title}}" class="img-fluid">
                        </a>
                        <div class="rating">
                            <i class="fa-solid fa-star"></i>
                            <p>{{this.rating}}</p>
                        </div>
                        <div class="age-limit">{{this.age}}</div>
                    </div>
                    <p class="mv-name">{{this.title}}</p>
                </div>
            {{/each}}
        </div>
    </div>
</section>